<div>
  <h1>Welcome {{first_name}} ({{role}})!</h1>
  <a href='http://localhost:8080/products'>Products</a>
  <a href='http://localhost:8080/carts/{{cid}}' ``>Cart</a>
  <a href='/logout'>Logout</a>
</div>