<h1>{{welcome}}...<span>&#x1F3C4;</span></h1>
<div>
    <ul style="list-style: none; margin-bottom:3rem; margin-top:5rem; font-size:1.5rem;">
        <li style="display:flex; text-align:center; justify-content:center; margin-bottom:4rem;">Wanna see some static content? just go to <span style="">&#x27A1;</span> <a href="http://localhost:8080/products" style="text-decoration: none; font-weight:600; color:black;">http://localhost:8080/products</a></li>
        <li style="display:flex; text-align:center; justify-content:center; margin-bottom:4rem;">Too many products right? yeah I am lazy too <span style="">&#x27A1;</span> <a href="http://localhost:8080/products/6" style="text-decoration: none; font-weight:600; color:black;">http://localhost:8080/products/6</a></li>
        <li style="display:flex; text-align:center; justify-content:center;">Do you want to play a bit with my Json in real time, then take a look in <span style="">&#x27A1;</span> <a href="http://localhost:8080/realtimeproducts" style="text-decoration: none; font-weight:600; color:black">http://localhost:8080/realtimeproducts</a></li>
    </ul>
</div>