<form action='/signup' method='POST'>
  <input id='firstName' name='firstName' type='text' class='custom-input' placeholder='First name' required='true' />
  <input id='lastName' name='lastName' type='text' class='custom-input' placeholder='Last name' required='true' />
  <input id='email' name='email' type='email' class='custom-input' placeholder='E-mail' required='true' />
  <input id='dob' name='dob' class='custom-input' placeholder='Date of birth' required='true' />
  <input id='password' name='password' type='text' class='custom-input' placeholder='Password' required='true' />
  <input type='submit' value='Sign up!' />
</form>

<script src='https://cdn.jsdelivr.net/npm/flatpickr'></script>
<script src='/js/signup.js'></script>