body {
  background-color: #c5c6c79a;
  font-family: 'Roboto', sans-serif;
  color: rgb(20, 20, 20);
}
.custom-input {
  border: none;
  border-bottom: 1px solid #0066ff;
  background-color: transparent;
  outline: none;
}
